@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Professor @ViewData["Professor"] </p>

<adress>
    <b>More Information: </b> <a href="#">EducandoWeb.com.br</a>
</adress>


